<div class="foo" id="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @article.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @article.body %>
  </p>
  <div >
    <%= link_to 'next', Article.find(@article.id + 1) , class: "next", :"data-no-turbolink" => true %>
  </div>

  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Back', articles_path %>
  <script>
    var data = <%== @json %>
  </script>
</div>